.App {
    text-align: center;
    font-family: "Arial, sans-serif";
    background-color: #f7f9fc; /* 연한 파스텔톤 배경 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  h1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    padding: 20px 0;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .container {
    margin-top: 130px;
    width: 100%;
    height: calc(100vh - 60px);
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;
  }

  .image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  h2 {
    color: #555;
    margin-bottom: 10px;
  }

  p {
    color: #333;
    font-size: 20px;
    line-height: 1.5;
  }


  .like-img-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .like-img {
    width: 300px;
    border-radius: 10px;
  }
  